In [2]:
#Tugas IV
#Diska Audian Maharani
#NIM 2208541036

In [3]:
#5.11 While Loop

In [9]:
a = 6
while a <= 14:
  print ('Angka '+ str(a)+ ' masih di bawah 15')
  a += 2
#while loop selalu dieksekusi selama nilainya True
#berhenti di angka 14 karena untuk angka selanjutnya akan bernilai false

Angka 6 masih di bawah 15
Angka 8 masih di bawah 15
Angka 10 masih di bawah 15
Angka 12 masih di bawah 15
Angka 14 masih di bawah 15

In [10]:
b = 6
while b > 14:
  print ('Angka ' + str(b)+ ' masih di bawah 14')
  a += 2
#while loop tidak dieksekusi karena nilai nya False
#nilai False karena b !> 14

In [14]:
harga_pensil = 5000
harga_buku = 10000
while harga_pensil < harga_buku:
  print ('harga pensil '+ str (harga_pensil) + ' masih di bawah harga buku')
  harga_pensil += 1000
#while loop dapat dieksekusi selama nilainya True
#while loop berhenti mengeksekusi karena untuk harga selanjutnya bernilai False

harga pensil 5000 masih di bawah harga buku
harga pensil 6000 masih di bawah harga buku
harga pensil 7000 masih di bawah harga buku
harga pensil 8000 masih di bawah harga buku
harga pensil 9000 masih di bawah harga buku

In [18]:
#5.12 List
#digunakan pada saat merepresentasikan objek di python
#berupa string maupun berupa angka

In [20]:
mata_kuliah = ['Statistika dasar', 'Aljabar linear elementer', 'Geometri analitik', 'Kalkulus 2', 'Agama']
print (mata_kuliah)

['Statistika dasar', 'Aljabar linear elementer', 'Geometri analitik', 'Kalkulus 2', 'Agama']

In [21]:
print (mata_kuliah[3])
#memanggil mata kuliah ke 3

Kalkulus 2

In [22]:
print (mata_kuliah[-3])
#memanggil mata kuliah ke -3
#artinya dihitung dari belakang

Geometri analitik

In [23]:
print (mata_kuliah[0])
#memanggil mata kuliah ke 0

Statistika dasar

In [25]:
mata_kuliah[1] = 'Struktur aljabar'
print (mata_kuliah)
#mengganti urutan mata kuliah ke 1

['Statistika dasar', 'Struktur aljabar', 'Geometri analitik', 'Kalkulus 2', 'Agama']

In [27]:
print (mata_kuliah[0:5:2])
#memanggil urutan ke 0 hingga 5 dengan loncatan sebanyak 2

['Statistika dasar', 'Geometri analitik', 'Agama']

In [28]:
print (mata_kuliah)
#tidak merubah list
#tetap menggunakan perubahan list terbaru yang telah dibuat

['Statistika dasar', 'Struktur aljabar', 'Geometri analitik', 'Kalkulus 2', 'Agama']

In [29]:
angka_genap = ['2', '4', '6', '8', '10']
print (angka_genap)

['2', '4', '6', '8', '10']

In [30]:
print (angka_genap[0])
#memanggil angka genap urutan ke 0

2

In [31]:
print (angka_genap[-1])
#memanggil angka genap urutan ke -1
#berarti urutan ke 1 dari belakang

10

In [32]:
print (angka_genap[1:4:2])
#memanggil angka genap urutan ke 1 sampai 4 dengan loncatan 2

['4', '8']

In [36]:
#5.13 Metoda List
#berfungsi memanipulasi dengan menambahkan atau menghilangkan isinya

In [37]:
sayur = ['wortel', 'bayam', 'sawi', 'kol', 'brokoli', 'kentang']
print (sayur)

['wortel', 'bayam', 'sawi', 'kol', 'brokoli', 'kentang']

In [38]:
sayur.append ('terong')
print (sayur)
#append yakni untuk menambahkan isi dari list yang telah dimasukkan sebelumnya

['wortel', 'bayam', 'sawi', 'kol', 'brokoli', 'kentang', 'terong']

In [41]:
sayur.insert(1, 'cabai')
print (sayur)
#insert untuk mengganti urutan ke 1 yang ada di list menjadi cabai
#list yang ditampilkan yakni perubahan list terbaru yang telah dilakukan tadi

['wortel', 'cabai', 'bayam', 'sawi', 'kol', 'brokoli', 'kentang', 'terong']

In [43]:
sayur.remove ('wortel')
print (sayur)
#remove untuk menghapus yang ada di sayur
#berarti menghapus wortel dari sayur

['cabai', 'bayam', 'sawi', 'kol', 'brokoli', 'kentang', 'terong']

In [44]:
print ('wortel' in sayur)
#false karena wortel sudah tidak ada dalam sayur
#ingat, akan menggunakan perubahan terbaru yang telah dilakukan

False

In [45]:
sayur = ['wortel', 'bayam', 'sawi', 'kol', 'brokoli', 'kentang']
print ('wortel'in sayur)
#true karena telah mengubah anggota sayur terbaru

True

In [46]:
print (len(sayur))
#len menghitung jumlah indeks

6

In [50]:
#5.14 For Loop

In [51]:
#digunakan untuk memanggil semua list
#while dan for sebenarnya fungsinya sama, cuma tergantung bentuk data nya
#ada data yang cocok menggunakan for ataupun sebaliknya, 
#namun bukan berarti data yang yang cocok/bisa menggunakan for tidak bisa digunakan di while, hanya saja pengerjaannya lebih ribet

In [48]:
hewan = ['kucing', 'gajah', 'panda', 'ikan', 'burung']
for macam in hewan:
  print (macam)

kucing
gajah
panda
ikan
burung

In [49]:
i = 0
while i < len(hewan):
  print (hewan[i])
  i+=1

kucing
gajah
panda
ikan
burung

In [52]:
#5.15 Fungsi Range
#untuk membangkitkan bilangan berurutan atau berpola

In [53]:
angka = range (15)
print (angka)

range(0, 15)

In [54]:
for isi in angka:
  print (isi)
#menampilkan isi dari angka
#namun 15 tidak termasuk karena integer akhir yang dihasilkan berhenti setelah nilai = stop-1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [56]:
for isi in range (8,12):
  print (isi)
#menampilkan 8 hingga 11
#kenapa 11? karena integer akhir yang dihasilkan berhenti setelah nilai = stop-1

8
9
10
11

In [58]:
for isi in range (2,12,2):
  print (isi)
#menampilkan angka 2 sampai 12 dengan loncatan 2, namun 12 tidak termasuk
#12 tidak termasuk karena integer akhir yang dihasilkan berhenti setelah nilai = stop-1

2
4
6
8
10

In [65]:
angka = range (10,23)
print (angka)

range(10, 23)

In [66]:
for isi in angka:
  print (isi)
#menampilkan isi dari angka

10
11
12
13
14
15
16
17
18
19
20
21
22

In [ ]:
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% TERIMA KASIH :) %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

In [ ]:
#mohon maaf bapak untuk 5.11 while loop saya tidak mengerjakan contoh yang (*) dikarenakan nge run nya sangat lama
#jadi saya memakai contoh while loop yang lain